body {
  display: grid;
  grid-template-columns: 1fr min(max(45rem, 50%), 95%) 1fr;
}


input[type="number"] {
  width: 5em;
}

select {
  width: 11em;
}

label {
  display: inline-block;
}

.accessibility-buttons {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.accessibility-buttons button {
  margin: 5px;
}

.warning {
  position: relative;
  border: 1px solid transparent;
  margin: 1rem 0 2rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: rgba(211, 0, 56, 0.1);
}

#patternWarning {
  display: none;
}

#customStitch {
  display: none;
}
